.jumbotron{
    background-image: url('img/bg2.jpg');
    background-attachment: fixed;
    color: white;
    background-size: cover;
    background-position: 0 -50px;
    height: 450px;
    padding-top: 5rem;
    text-shadow: 100px;
}

#section{
    padding-top: 5rem;
    
}

#paket{
    padding-top: 5rem;
    background-image: url('img/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}

#akomodasi{
    padding-top: 5rem;
    background-image: url('img/bg2.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}

#galeri{
    padding-top: 5rem;
    background-image: url('img/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}

#produk{
    padding-top: 5rem;
    background-image: url('img/bg1.jpg');
    background-size: cover;
    background-attachment: fixed;
   
}