.jumbotron{
    background-image: url('img/bg2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -50px;
    height: 450px;
    padding-top: 5rem;
    text-shadow: 100px;
}

